version: "3.8"

services:
  db:
    image: andersgee/http-mysql8
    restart: unless-stopped
    env_file:
      - ./.env
    expose:
      - 3000
      - 3306
      - 33060
    ports:
      - $DB_HTTP_PORT:3000
      - $DB_PORT:3306
    build:
      context: .
      dockerfile: ./Dockerfile
    volumes:
      - db-data:/var/lib/mysql

volumes:
  db-data:
